@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Base Color */
  --hue-color: 190;

  /* Color */
  --primary: hsl(var(--hue-color), 64%, 22%);
  --primary-accent: hsl(var(--hue-color), 64%, 22%);
  --primary-alt: hsl(var(--hue-color), 64%, 15%);
  --secondary: hsl(var(--hue-color), 64%, 8%);

  /* Background */
  --background: hsl(var(--hue-color), 100%, 99%);

  /* Text Color */
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);

  /* Input Color */
  --input-color: hsl(var(--hue-color), 24%, 97%);
}

@layer base {
  body {
    @apply bg-background text-textColor;
  }

  .button {
    @apply bg-primary hover:bg-primaryAlt rounded-md focus:outline-none text-gray-50 text-sm;
  }

  .title {
    @apply text-titleColor font-semibold;
  }
}
